<div  style="border: black solid; overflow: hidden; padding-bottom: 1px ; margin: 10px; width:fit-content; height: fit-content;  background-color: rgb(0, 162, 255);">
<div style="padding: 10px; margin: 1px;">
    <div style="margin: 1px 1px 1px 1px; float: left; margin: 10px; ">
            Insert Concrete Strength  <br/><br/>
            Insert Press Time         <br/><br/>
            Insert Press Data         <br/><br/>
            Insert Bed Number         <br/><br/>
        </div>
        <div style="margin:  1px 1px 1px 1px; float: right; margin: 10px;">
            <input type="text"/> <br/><br/>
            <input type="text"/> <br/><br/>
            <input type="text"/> <br/><br/>
            <input type="text"/> <br/><br/>
        </div>
    </div>
    <button style="float:right;">Insert</button>
</div>

